<div class="container">
   <div class="row" >

    <div class="card">
      
        <img src="https://m.media-amazon.com/images/I/51vJ+igHtEL._AC_UL1430_.jpg" alt="">
        <h5 style="white-space:nowrap;overflow:hidden;text-overflow:ellipsis;max-width: 100ch;">Winter coat</h5>

        <p style="white-space:nowrap;overflow:hidden;text-overflow:ellipsis;max-width: 100ch;">Wool Blend Camel Mid-Long Coat </p>
        <p><strong>Amount:</strong>R800/-</p>
        <button class="btn btn-dark">Add to cart </button>
    </div>
   </div>
</div><div class="container">
   

